.header {
  box-sizing: border-box;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 15px 0 15px;

  height: 45px;
  max-width: 1140px;
}

.main-container {
  box-sizing: border-box;
  position: relative;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  height: 100%;
  max-width: 1140px;
}

.home-page-left-section,
.product-spec-left-section {
  overflow-y: scroll;
  height: calc(100vh - 450px);
}

.home-page-left-section .jato-list-item {
  padding-left: 15px;
}

.home-page-right-section {
  width: auto;
  height: calc(100vh - 400px);
  background-color: aqua;
  background-image: url("../src/img/dashboard-brand.jpg");
  background-size: cover;
}

.product-spec-page-right-section {
  width: auto;
  height: calc(100vh - 330px);
  background-image: url("../src/img/JATO_maze_RGB.png");
  background-size: cover;
}

.home-page .jato-list-item,
.home-page .jato-heading {
  font-size: 24px;
}

.homepage-tab3-diagram {
  width: auto;
  height: 600px;
  background-image: url("../src/img/dataflow.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.tab1-right-section {
  height: 400px;
  width: 400px;
  background-image: url("../src/img/tab-1-chart.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.product-main-wrapper {
  overflow-y: scroll;
  height: calc(100vh - 370px);
}

.documentation-tab1-slide1 {
  width: auto;
  height: 470px;
  background-image: url("../src/img/homepage-tab-3.jpg");
  background-size: 100%;
  background-position: center -25px;
  background-repeat: no-repeat;
  border-bottom: 1px solid #c6c6c6;
}

.documentation-tab1-slide2 {
  width: auto;
  height: 525px;
  background-image: url("../src/img/evolution.jpg");
  background-size: 100%;
  background-position: center -25px;
  background-repeat: no-repeat;
  border-bottom: 1px solid #c6c6c6;
}

.documentation-tab1-slide3 {
  width: auto;
  height: 525px;
  background-image: url("../src/img/benefits.jpg");
  background-size: 100%;
  background-position: center -25px;
  background-repeat: no-repeat;
}

.documentation-tab2-diagram {
  width: auto;
  height: 580px;
  background-image: url("../src/img/architecture.png");
  background-size: 500px auto;
  background-position: center;
  background-repeat: no-repeat;
}
